* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	/* || COLORS */
	--HEADER-COLOR: #00274c;
	--HEADER-ACCENT: #ffc20f;
}

body {
	min-height: 100vh;
	font-family: "Roboto", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* HEADER */
.header {
	background-color: var(--HEADER-COLOR);
	color: var(--HEADER-ACCENT);
	width: 100%;
	font-size: 5rem;
	font-weight: bolder;
	height: 6rem;
	display: flex;
	align-items: center;
	position: sticky;
	top: 0;
}

.header .logo {
	padding: 1rem;
}

/* MAIN */

.main {
	min-height: calc(100vh - 9rem);
	background-image: linear-gradient(white, var(--HEADER-ACCENT));
}

.construction {
	display: flex;
	align-items: center;
	justify-content: center;
}

/* SCHEDULE VALIDATOR*/

.schedule-validator {
	display: flex;
	flex-flow: column nowrap;
	gap: 1rem;
	align-items: center;
}

.main .schedule-validator .schedule-report-container {
	min-height: calc(100vh - 9rem);
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: flex-start;
}

/* SCHEDULE TOOLBAR */

.schedule-toolbar {
	padding: 1rem;
}

.schedule-toolbar .schedule-form {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	gap: .2rem;
}

.schedule-toolbar :is(select, button) {
	padding: 10px 10px;
	border-radius: 4px;
	font-size: 1.2rem;
}

.schedule-toolbar button {	
	background-color: var(--HEADER-COLOR);
	color: var(--HEADER-ACCENT);
}

.schedule-toolbar button:hover {
	background-color: hsl(209, 100%, 25%);
	border: 2px solid var(--HEADER-ACCENT);
}

.schedule-toolbar select {
	background-color: #f1f1f1;
	border: none
}

/* SCHEDULE */

.schedule-validator .schedule {
	display: flex;
	flex-flow: row wrap;
	flex-basis: 70%;
	padding: 1rem;
	gap: 1rem;
}

/* SCHEDULE TABLES */
.schedule-validator .schedule-term {
	border: 2px solid black;
	border-radius: 15px;
	background-color: papayawhip;
	text-align: center;
	flex-basis: 32.4%;
}

.schedule-validator .schedule-term:first-child {
	flex-basis: 100%
}

.schedule-term .schedule-table {
	border-spacing: 0;
	font-family: sans-serif;
	width: 100%;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.schedule-term h3 {
	padding: 1rem 0;
}

.schedule-table thead tr {
	background-color: var(--HEADER-COLOR);
	color: #ffffff;
	text-align: left;
}

.schedule-table th,
.schedule-table td {
	padding: 12px 15px;
}


.schedule-table tbody tr {
	border-bottom: 1px solid #dddddd;
}

.schedule-table tbody tr:nth-of-type(even) {
	background-color: #f3f3f3;
}

.schedule-table :is(form, form input) {
	width: 10rem
}

.schedule-table form input {
	background-color: rgba(0,0,0,0);
	border: none;
	font-weight: bolder;
	font-size: 1rem;
}

.schedule-term .search-course label {
	position: absolute;
	left: -100000px;
}

/* REPORT */

.report {
	display: flex;
	flex-flow: column nowrap;
	flex-basis: 30%;
	gap: 1rem;
	padding: 1rem;
}
.report .requirement-group {
	border: 2px solid black;
	border-radius: 15px;
	background-color: papayawhip;
	text-align: center;
}

.schedule-table tbody tr.schedule-table-footer {
	background-color: var(--HEADER-COLOR);
	color: white;
}
/* FOOTER */

.footer {
	background-color: var(--HEADER-COLOR);
	color: var(--HEADER-ACCENT);
	width: 100%;
	height: 3rem;
	display: flex;
	position: sticky;
	bottom: 0;
	justify-content: center;
	align-items: center;
}
