* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

input,
button,
textarea {
	font: inherit;
}

:root {
	/* FONT */
	--FF: "Roboto", sans-serif;
	--FS: clamp(.75rem, 2.2vh, 1rem);

	/* || COLORS */
	--HEADER-COLOR: #00274c;
	--HEADER-ACCENT: #ffc20f;
	--FONT-COLOR: black;
	--BGCOLOR: hsl(45, 100%, 90%);
	--BGIMAGE: linear-gradient(white,#ffc20f);
	
	/* STANDARD PADDING */
    --PADDING-TB: .25em;
    --PADDING-SIDE: 2.5%;
	
}


/* UTILITY CLASSES */
.offscreen {
	position: absolute;
	left: 100000px;
}

.nowrap {
	white-space: nowrap;
}

.center {
	text-align: center;
}

/* GENERAL STYLES */

html {
	scroll-behavior: smooth;
	font-size: var(--FS);
	font-family: var(--FF);
	background-color: var(--BGCOLOR);
	background-image: var(--BGIMAGE);
}

body {
	min-height: 100vh;
	font-family: var(--FF);
	color: var(--FONT-COLOR);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
}


/* HEADER */
.header {
	background-color: var(--HEADER-COLOR);
	color: var(--HEADER-ACCENT);
	width: 100%;
	font-size: 5rem;
	font-weight: bolder;
	height: 6rem;
	display: flex;
	align-items: center;
	position: sticky;
	top: 0;
	z-index: 1;
}

.header .logo {
	padding: 1rem;
}

/* MAIN */

.main {
	min-height: calc(100vh - 9rem);
	padding: var(--PADDING-TB) var(--PADDING-SIDE);
}

.construction {
	display: flex;
	align-items: center;
	justify-content: center;
}

/* SCHEDULE VALIDATOR*/

.schedule-validator {
	display: flex;
	flex-flow: column nowrap;
	gap: 1rem;
	align-items: center;
}

.schedule-report-container {
	min-height: calc(100vh - 9rem);
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	gap: 1rem;
	justify-content: space-between;
	align-items: flex-start;
}

/* SCHEDULE TOOLBAR */

.schedule-toolbar {
	padding: 1rem;
}

.schedule-toolbar .schedule-form {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	gap: .2rem;
}

.schedule-toolbar :is(select, button) {
	padding: 10px 10px;
	border-radius: 4px;
	font-size: 1.2rem;
}

.schedule-toolbar button {	
	background-color: var(--HEADER-COLOR);
	color: var(--HEADER-ACCENT);
}

.schedule-toolbar button:hover {
	background-color: hsl(209, 100%, 25%);
	border: 2px solid var(--HEADER-ACCENT);
}

.schedule-toolbar select {
	background-color: #f1f1f1;
	border: none
}

/* SCHEDULE */

.schedule-container {
	flex-basis: 70%
}

.schedule-container .schedule {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: .5rem
}

/* SCHEDULE TABLES */
.schedule-term {
	border: 2px solid black;
	border-radius: 15px;
	background-color: papayawhip;
	text-align: left;
}

.schedule-term :is(th:last-child, td:last-child) {
	text-align: right;
}

.schedule-validator .schedule-term:first-child {
	grid-column: 1 / span 3;
}

.schedule-term .schedule-table {
	border-spacing: 0;
	border-collapse: separate;
	border-radius: 15px;
	width: 100%;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.schedule-term h3 {
	padding: 1rem 0;
	text-align: center;
}

.schedule-table th {
	background-color: var(--HEADER-COLOR);
	color: white;
}

.schedule-table :is(th, td) {
	padding: var(--PADDING-TB) var(--PADDING-SIDE)
}

.schedule-table :is(th:first-child, td:first-child) {
	padding: var(--PADDING-TB) var(--PADDING-SIDE);
	width: 80%;
}


.schedule-table tbody tr {
	border-bottom: 1px solid #dddddd;
}

.schedule-table tbody tr:nth-of-type(even) {
	background-color: #f3f3f3;
}

.schedule-table :is(form, form input) {
	width: 10rem;
	display: inline;
}

.schedule-table form input {
	background-color: rgba(0,0,0,0);
	border: none;
	font-weight: bolder;
	font-size: 1rem;
}

.schedule-term .search-course label {
	position: absolute;
	left: -100000px;
}

.schedule-table tbody tr.schedule-table-footer {
	background-color: var(--HEADER-COLOR);
	color: white;
}

.tooltip {
	position: relative;
	display: inline;
  }
  
  .tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;
   
	/* Position the tooltip text - see examples below! */
	position: absolute;
	top: 120%;
	z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
	visibility: visible;
  }
/* REPORT */

.report {
	display: flex;
	flex-flow: column nowrap;
	gap: 1rem;
	flex-basis: 28%;
}
.report .requirement-group {
	border: 2px solid black;
	border-radius: 15px;
	background-color: papayawhip;
	text-align: center;
}

/* FOOTER */

.footer {
	background-color: var(--HEADER-COLOR);
	color: var(--HEADER-ACCENT);
	width: 100%;
	height: 3rem;
	display: flex;
	position: sticky;
	bottom: 0;
	justify-content: center;
	align-items: center;
}
